.home-page__posts-wrapper {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1240px;
  margin: 0 auto;
  overflow-y: auto;
}

.home-page__post {
  display: flex;
  flex: 0 0 400px;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 30px 5px;

  background-color: rgba(253, 241, 252, 0.729);
  border: 1px solid rgb(142, 138, 138);
  border-radius: 10px;
  box-shadow: 0 8px 15px 10px rgba(218, 153, 153, 0.2);

  transition: all 0.4s;
}

@media (hover: hover) {
  .home-page__post:hover {
    background-color: rgb(240, 231, 239);

    transition: 0.4s;
  }
}

.home-page__post header,
.home-page__post section,
.home-page__post footer {
  width: 100%;

  text-align: center;
}

.home-page__post-btn {
  display: inline-flex;
  margin: 10px 0;

  color: rgb(115, 211, 157);
  text-decoration: none;

  cursor: pointer;
}

@media (hover: hover) {
  .home-page__post-btn:hover {
    color: rgb(84, 214, 193);
    text-decoration: underline;
  }
}

.home-page__post-btn:active {
  color: rgb(64, 119, 238);
}

.home-page__post-img {
  width: 50%;
  min-height: 200px;
}

/* Default block */

.home-page__default-wrapper {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.home-page__default {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 400px;
  height: 440px;
  margin: 30px 5px;

  background-color: rgba(170, 170, 170, 0.702);
  border-radius: 15px;
  /* opacity: 0.3; */
}

.home-page__default div {
  width: 350px;
  height: 200px;
  margin: 20px;

  background-color: #f2f2f2;
  border-radius: 10px;
}

.home-page__default p {
  width: 350px;
  height: 20px;
  margin-bottom: 0;

  background-color: #f2f2f2;
  border-radius: 7px;
}
