.home-page__posts-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background-color: rgba(226, 148, 199, 0.196);
}

.home-page__post {
  display: flex;
  flex: 0 0 400px;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 30px 5px;

  background-color: rgba(253, 241, 252, 0.729);
  border: 1px solid rgb(142, 138, 138);
  border-radius: 10px;
  box-shadow: 0 8px 15px 10px rgba(218, 153, 153, 0.2);

  transition: 0.3s;
}

@media (hover: hover) {
  .home-page__post:hover {
    transform: scale(1.02);

    transition: 0.3s;
  }
}

.home-page__post header,
.home-page__post section,
.home-page__post footer {
  width: 100%;

  text-align: center;
}

.home-page__post-btn {
  display: inline-flex;
  margin: 10px 0;

  color: rgb(115, 211, 157);
  text-decoration: none;

  cursor: pointer;
}

@media (hover: hover) {
  .home-page__post-btn:hover {
    color: rgb(84, 214, 193);
    text-decoration: underline;
  }
}

.home-page__post-btn:active {
  color: rgb(64, 119, 238);
}

.home-page__post-img {
  width: 50%;
}
