/**
 * App css
 */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  /* background-color: rgba(226, 148, 199, 0.196); */

  background-color: rgb(255, 255, 255);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;

  transform: translate(-50%, -50%) scale(0.7);
}

.page-loader::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  background-color: rgba(180, 180, 180, 0.25);
  transform: translate(-50%, -50%) scale(10);
}


/*
  Logo global style
*/

.logo:hover path {
  transition: 0.85s;

  fill: #f50057;
}

.logo path {
  transition: 0.85s;
}


/*
  Editor/Post global style
*/


input,
textarea {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;

  background: #eeeeee;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;

  white-space: pre-wrap;

  background-color: #eeeeee;
}

:not(pre) > code {
  padding: 3px;

  font-family: monospace;

  background-color: #eeeeee;
}

img {
  max-width: 100%;
  max-height: 20em;
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding-left: 10px;

  color: #aaaaaa;
  font-style: italic;

  border-left: 2px solid #dddddd;
}

blockquote[dir="rtl"] {
  padding-right: 10px;
  padding-left: 0;

  border-right: 2px solid #dddddd;
  border-left: none;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;

  border: 2px solid #dddddd;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;

  font-size: 0.85em;

  background: #fafafa;
  border: 2px solid #dddddd;
}

input:focus {
  border-color: blue;
  outline: 0;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}

/*
  End
*/
