.wrapper {
  display: flex;
  flex-direction: column;
}

.paper {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin: 30px auto;
  padding: 55px 35px 20px;

  border-radius: 20px !important;
}

.title5 {
  font-weight: bold !important;
}

.title3 {
  display: flex !important;
  margin-top: 0.8rem !important;

  font-weight: bold !important;
}

.button {
  width: 100px;
  margin: 50px 0 !important;

  border-radius: 20px !important;
}

.logo:hover path,
.logoFocus path {
  fill: #f50057;
}
