.wrapper {
  display: flex;
  flex-direction: column;
}

.paper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin: 30px auto;
  padding: 55px 35px 20px;
  overflow: hidden;

  border-radius: 20px !important;
}

.title5 {
  font-weight: bold !important;
}

.title3 {
  display: flex !important;
  margin-top: 0.8rem !important;

  font-weight: bold !important;
}

.button {
  width: 100px;
  margin: 50px 0 !important;

  border-radius: 20px !important;
}

.logoFocus path {
  transition: 0.85s;

  fill: #f50057;
}

.loadingWrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}
