/**
 * AdminPanelPage - style
 */

.admin-panel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.admin-panel__wrapper {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  max-width: 740px;
  height: 100%;
}

.admin-panel__loader + .admin-panel__wrapper {
  position: relative;
  z-index: -1;

  opacity: 0.1;
}
